лаб. 12 +/XMLFile3.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="head">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nauthor" type="xs:string"/>
				<xs:element name="ntitle" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author" type="xs:string"/>
				<xs:element name="title" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>